Here I will using scikit-learn to perform PCA in Jupyter Notebook.

First, I need some example to get familiar with this

Get our data and analysis it

In [1]:
import numpy as np
from sklearn.decomposition import PCA
import pandas as pd

In [2]:
df = pd.read_csv('London.txt', sep='\s+')
# df.drop('id', axis=1, inplace=True) # 数据不像Manhattan，前期已经去除id项
df.tail()

,photo_take_date,anger,contempt,disgust,fear,happiness,neutral,sadness,surprise,lat,lon
510139,2012-04-27,0.002571,0.034591,0.003117,7.541410e-04,0.077213,0.639780,0.001574,0.240400,51.507246,-0.125999
510140,2012-04-27,0.000804,0.002184,0.001057,5.632771e-04,0.000690,0.691425,0.301772,0.001505,51.507246,-0.125999
510141,2012-07-23,0.000004,0.000258,0.000001,5.163571e-07,0.983578,0.016082,0.000053,0.000023,51.504600,-0.175050
510142,2012-07-23,0.000763,0.003948,0.002667,1.764461e-05,0.928100,0.062454,0.001908,0.000142,51.504600,-0.175050
510143,2013-05-04,0.000004,0.000077,0.000021,1.498473e-07,0.998305,0.001584,0.000001,0.000008,51.539072,-0.058398

how to index a given part of a DataFrame have been a problem for me. 

Refer `pandas/html/10min.html#selection-by-position` to keep in mind(link to file outside this dir not work well)
`file:///C:/work/python/%E6%96%87%E6%A1%A3/pandas/html/10min.html#selection-by-position`

In [3]:
tdf = df.iloc[:, 1:-2]
tdf.tail()

,anger,contempt,disgust,fear,happiness,neutral,sadness,surprise
510139,0.002571,0.034591,0.003117,7.541410e-04,0.077213,0.639780,0.001574,0.240400
510140,0.000804,0.002184,0.001057,5.632771e-04,0.000690,0.691425,0.301772,0.001505
510141,0.000004,0.000258,0.000001,5.163571e-07,0.983578,0.016082,0.000053,0.000023
510142,0.000763,0.003948,0.002667,1.764461e-05,0.928100,0.062454,0.001908,0.000142
510143,0.000004,0.000077,0.000021,1.498473e-07,0.998305,0.001584,0.000001,0.000008

取一个主成分， 解释方差0.917864

In [4]:
pca = PCA(n_components=8)
pca.fit(tdf)
np.set_printoptions(precision=6, suppress=True)

print('各主成份方差贡献占比：', end=' ')
print(pca.explained_variance_ratio_)

emotion_score = pd.DataFrame(pca.transform(tdf))
# 第一个主成份
pd.concat([df, emotion_score.loc[:, 0]], axis=1, join='inner').rename(index=str, columns={0: 'emotion_score'}).to_csv('London_score_raw.txt', index=None, sep='\t')

各主成份方差贡献占比： [ 0.910407  0.054714  0.018479  0.011135  0.002794  0.001424  0.001046  0.      ]