 主要是将空格， | 去除，转换为简单的CSV格式，用Tab隔开

In [4]:
with open('TokyoAndLondon.txt') as f, open('TokyoAndLondon1.txt', 'w', encoding='utf-8') as g:
    for line in f:
        l = line.split('|')
        l = [i.strip() for i in l]
        g.write('\t'.join(l) + '\n')

 查看数据结果

In [5]:
!head TokyoAndLondon1.txt

id	site	coordinates	photo_take_date	anger	contempt	disgust	fear	happiness	neutral	sadness	surprise
7856801598	Tokyo	(35.711116,139.795961)	2012-08-25	0.029497765	0.06325426	0.158937648	0.000963194936	0.161288574	0.5348647	0.0450846255	0.00610920275
8330652638	Tokyo	(35.62786,139.79507)	2012-12-31	2.07860875e-08	2.83108278e-07	3.44796156e-08	1.68532054e-07	0.9999924	4.15872228e-06	1.86794455e-06	1.06970367e-06
7863449836	Tokyo	(35.667564,139.707126)	2012-08-26	2.37131289e-07	2.00308534e-08	1.153792e-06	3.188027e-09	0.9999982	1.95574472e-07	7.807059e-09	1.46820881e-07
7905862304	Tokyo	(35.711116,139.795961)	2012-08-25	0.0516521074	2.31723316e-08	0.000431140419	0.009953636	0.8724286	4.69803963e-05	0.0417515934	0.02373595
8333952332	Tokyo	(35.62786,139.79507)	2012-12-31	0.0020191113	0.0010217214	0.0005258353	0.00212629279	0.00973947	0.881213844	0.100885741	0.00246799923
8333584092	Tokyo	(35.628297,139.794372)	2012-12-31	0.206513479	0.00325708417	0.0716582462	0.00077771605	0.000279486383	0.149766669	0.001860736	0.5658866
8333584092	Tokyo	(35.628297,139.794372)	2012-12-31	0.07333044	0.00167877763	0.178932622	0.00211071339	0.00179844978	0.0347565152	0.0009914929	0.706401
11671006524	Tokyo	(35.62786,139.79507)	2013-12-31	4.12509035e-05	0.233214378	1.63832065e-05	1.71207759e-07	0.0397897139	0.7267846	0.000131624751	2.18951136e-05
8005678068	Tokyo	(35.670667,139.705833)	2012-09-20	8.130463e-05	0.0004897632	0.000100662233	3.81891851e-07	0.972262561	0.0269798245	7.51702537e-05	1.03076636e-05

 将coordinates 分为 lat 和 lon， 去除id

In [7]:
with open('TokyoAndLondon1.txt') as f, open('TokyoAndLondon2.txt', 'w', encoding='utf-8') as g:
    for line in f:
        l = line.split('\t')
        l = [i.strip() for i in l]
        try:
            coordinates = l.pop(2)
            l.pop(0)
        except:
            print(repr(line))
            continue
        coordinates = coordinates.replace('(', '').replace(')', '')
        if ',' in coordinates:
            coor = coordinates.replace(',', '\t')
        else:
            coor = 'lat\tlon'
        l.append(coor)
        g.write('\t'.join(l) + '\n')

'(669759 rows)\n'
'\n'

 最后一行的问题没有写入新文件，很舒服

 将文件分离为Tokyo.txt 和 London.txt

In [8]:
with open('TokyoAndLondon2.txt') as f, open('Tokyo.txt', 'w', encoding='utf-8') as g, open('London.txt', 'w', encoding='utf-8') as h:
    for line in f:
        l = line.split('\t')
        l = [i.strip() for i in l]
        site = l.pop(0)
        if site == 'site':
            g.write('\t'.join(l) + '\n')
            h.write('\t'.join(l) + '\n')
        if site == 'Tokyo':
            g.write('\t'.join(l) + '\n')
        elif site == 'London':
            h.write('\t'.join(l) + '\n')
        else:
            pass

提取所有id到一个文件，检查文件中是否有重复id，有重复id说明数据还可以，因为每一条数据的单位不是照片而是每一个可以检测出emotion的face。（之前的曼哈顿因为程序的错误，每张照片只有一个emotion结果，所以此处应考虑改进）

In [9]:
with open('TokyoAndLondon1.txt') as f, open('All_id.txt', 'w', encoding='utf-8') as g:
    for line in f:
        pid = line.split('\t')[0]
        try:
            int(pid)
            g.write(pid + '\n')
        except:
            pass

 统计总照片个数与情绪个数（都有地理坐标）

In [10]:
with open('All_id.txt') as f:
    s = set()
    count = 0
    for line in f:
        line = int(line.strip())
        s.add(line)
        count += 1
    print("照片数：{}".format(len(s)))
    print("情绪数：{}".format(count))

照片数：425429
情绪数：669759

提取八个情绪值，用于主成份分析时直接粘贴进变量表

In [1]:
with open('Tokyo.txt') as f, open('Tokyo_for_pca.txt', 'w', encoding='utf-8') as g:
    count = 0
    for line in f:
        count += 1
        if count == 1:
            continue
        l = line.split('\t')
        l = [i.strip() for i in l]
        data = l[1:-2]
        g.write('\t'.join(data) + '\n')

In [2]:
with open('London.txt') as f, open('London_for_pca.txt', 'w', encoding='utf-8') as g:
    count = 0
    for line in f:
        count += 1
        if count == 1:
            continue
        l = line.split('\t')
        l = [i.strip() for i in l]
        data = l[1:-2]
        g.write('\t'.join(data) + '\n')